<ion-header>
  <ion-toolbar>
    <ion-title>
      Input Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Edad</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.edad" name="edad"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onSubmit()">Enviar</ion-button>
</ion-content>
